{{!-- Default static page is almost the same as post page view so the css classes remains the same --}}
{{!-- you can add your own static pages and style it as you want --}}

{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<!-- Page -->
<div class="big-header-container scene-element fade-in-down">
  <header class="main-header" style="height: 22em; background-image: url({{@blog.cover_image}})">

    <div class="main-header-bars">
      <ul class="home-menu">
        <li>
          <a href="{{@blog.url}}">Home</a>
        </li>
        <li>
          <a href="{{url}}">Bio</a>
        </li>
      </ul> 
      <i class="fa fa-fw fa-search js-open-search"></i>
    </div>
  </header>
</div>

<main class="post-view-content scene-element fade-in-right" role="main">
  <div class="post-view-right-container">
    {{#post}}

    <article class="post-view-article {{post_class}}">
      <section class="post-content row">
        <div class="small-12 columns">
          <div class="post-header-content">
            <h1 class="post-title">{{title}}</h1>
            <div class="post-title-separator"></div>
          </div>
          <div class="post-article-content">
          	Contacto
          </div>
        </div>
      </section>

    </article>
    {{/post}}
  </div>
</main>

<!-- Page -->

